1.Write a program to print numbers form 1 to 10,but stop if the number is 5.

Solution:

In [9]:
for i in range(1,11):
    print(i)
    if i==5:
        break;

1
2
3
4
5

2.Write a program to iterate through a list and stop when encountering a specific element.

In [2]:
l=[2,3,47,5,64,21]
for ele in l:
    print(ele)
    if ele==5:
        break;

2
3
47
5

3.Write a program to skip printing even numbers from 1 to 10.

In [3]:
for i in range(1,11):
    if (i%2==0):
        continue
    print(i)

1
3
5
7
9

4.Write a program to print numbers from 0 to 9 using range function.

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

5.Write a program to print multiplication tables from  to 5, but stop after the first table is printed for each
number.

In [5]:
for i in range(1, 6):
    print("Multiplication Table for", i)
    for j in range(1, 11):
        print(i, "x", j, "=", i * j)
    print()

Multiplication Table for 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication Table for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6.Write a program to skip printing even numbers using a while loop.

In [6]:
num = 1

while num <= 10:
    if num % 2 != 0:
        print(num)
    num += 1

1
3
5
7
9