1.Convert an integer to a floating-point number.

In [9]:
a=19
b=float(a)
print(b)
type(b)

19.0

float

2.Convert a float to an integer.

In [10]:
f=37.6
i=int(f)
print(i)
type(i)

37

int

3.Convert an integer into string.

In [12]:
t=45
s=str(t)
print(s)
type(s)

45

str

4.Convert a list into a tuple.

In [13]:
l=[2,3,4,"hello"]
tu=tuple(l)
print(l)
print(tu)
type(tu)

[2, 3, 4, 'hello']
(2, 3, 4, 'hello')

tuple

5.Convert a tuple into a list.

In [15]:
ts=(2,3,6,7,8,9)
lt=list(ts)
print(ts)
print(lt)
type(lt)

(2, 3, 6, 7, 8, 9)
[2, 3, 6, 7, 8, 9]

list

6.Convert a decimal number to binary.

In [24]:
dec=2
bi=bin(dec)[2:]
bi

'10'

7.Convert a non-zero number to boolean

In [25]:
x=1
y=bool(x)
y

True