1.Calculate the sum ,difference ,product, and quotient of two numbers.

In [1]:
num1=8
num2=5
s=num1+num2
diff=num1-num2
mul=num1*num2
quo=num1/num2
print(f"The sum of {num1} and {num2} is {s}")
print(f"The difference of {num1} and {num2} is {diff}")
print(f"The product of {num1} and {num2} is {mul}")
print(f"The quotient of {num1} and {num2} is {quo}")

The sum of 8 and 5 is 13
The difference of 8 and 5 is 3
The product of 8 and 5 is 40
The quotient of 8 and 5 is 1.6

2.Perform various assignment operations on a variable.

In [2]:
a=5
b=6
c=10
a+=3
b*=4
c/=5
print(a,b,c)

8 24 2.0

3.Compare two numbers and print the results.

In [3]:
n1=5
n2=8
n1==n2

False

4.Check the conditions using logical operator

In [6]:
t1=7
t2=4
t3=8
print(t2>t3 and t2<t1)
print(t2>t3 or  t2<t1)
print(not(t2>t3 and t2<t1))

False
True
True

5.Check the identity of variables.

In [9]:
s1="JAAT"
s2=65
print(f"The identity if {s1} is {id(s1)}")
print(f"The identity if {s2} is {id(s2)}")

The identity if JAAT is 140516638070000
The identity if 65 is 140516722116848

6.Perform bitwise operations on any two integers.

In [14]:
a1=5
a2=6
print(a1 & a2)
print(a1 | a2)
print(a1^a2)
print(a1<<a2)
print(a1>>a2)

4
7
3
320
0

7.Use unary operators to change the sign of a number.

In [15]:
a=5
print(-a)

-5

8.Use the ternary operator to assign values based on conditions.

In [17]:
y1,y2=10,20
print(y2 if y2>y1 else y1)
print((y1,y2) [y1<y2])
print({True :y1,False:y2} [y2>y1])

20
20
10